<%= form_with(model: airport, local: true) do |form| %>
<% if airport.errors.any? %>
<div id="errors">
  <ul>
    <% airport.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= form.label :code %>
  <%= form.text_field :code %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
