<!DOCTYPE html>
<html>
  <head>
    <title>Airport Dashboard</title>
</head>

  <body>
    <h1>Airport Dashboard</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Airport Name</th>
          <th>Airport Code</th>
	  <th>Local Time</th>
	  <th>Description</th>
	  <th>Temp. </th>
	  <th>Humidity</th>
	  <th>Wind Speed</th>
	  <th>Wind Direction</th>
        </tr>
      </thead>
      <tbody>
        <% @airports.each do |airport| %>
            <tr>
            <td><%= airport.name %></td>
            <td><%= airport.code %></td>
	    <td><%= airport.local_time %></td>
	    <td><%= airport.descrip %></td>
	    <td><%= airport.temp %></td>
	    <td><%= airport.humidity %></td>
	    <td><%= airport.wind_speed %></td>
	    <td><%= airport.wind_dir %></td>

	    
            <td><%= button_to "Delete", airport, method: :delete, data: {confirm: "Are you sure?" } %></td>

            </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Airport', new_airport_path %>
  </body>
</html>
