<!DOCTYPE html>
<html>
  <head>
    <title>New Airport</title>
</head>

  <body>
    <h1>New Airport</h1>

    <%= render 'form', airport: @airport %>
    
    <%= link_to 'Back', root_path %>
  </body>
</html>